SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{serial}=="210319AD2BDD", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="ttyJ1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{serial}=="210319AD2BDD", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="ttyJ0"
